.vscode
copy.bat
build/
*.pyc
VSU-*.json


addon/doc/*.css
addon/doc/en/
addon/data/dictionary/english.dic
*_docHandler.py
*.html
*.ini
*.pot
*.mo
*.py[co]
*.nvda-addon
.sconsign.dblite
output/
addon/voicevox_core/
temp_core_dll/
temp_onnx/
temp_dict/
temp_directml/
.claude/
